{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier | Swiftly</title>
    <link rel="shortcut icon" href="{% static 'img/swiftly_ico.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/swiftly_ico.png' %}">
    <link rel="manifest" href="{% static 'manifest.json' %}">



    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

    {% include 'load_firebase.html' %}

    <script>
        const messaging = firebase.messaging();
        messaging
        .getToken({
            validKey: "BE9pTqEKLJ_5htOBh3c1D3bywrc-suVEYZXOLTnzTiqvIAgqBsU7lc0qt72XimrlRCmip0EdyG2glIpYPnY8-GQ"
        })
        .then((currentToken) => {
            console.log(currentToken);
            if (currentToken){
                fetch('{% url "courier:fcm_token_update_api" %}?fcm_token=' + currentToken);
            }
        })
        .catch((error) =>{
            console.log("An error occurred while retrieving token", error);
        })
    </script>

    <script>
        let vh = window.innerHeight * 0.01;
        document.documentElement.style.setProperty('--vh', `${vh}px`);
    </script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">

    <style>
        #content {
            height: calc(var(--vh, 1vh) * 100);
        }
    </style>

    <!--Head-->
    {% block head %}
        <title>Courier | Swiftly</title>
    {% endblock head %}
    <!--Head//-->
        
</head>

<body>

    <div id="content">
        <!--Content-->
        {% block content %}
            
        {% endblock content %}
        <!--Content//-->
    </div>

    <script src="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/bootoast@1.0.1/dist/bootoast.min.css">

    <script>
      function toast(message, type) {
        bootoast.toast({
          position: 'center-bottom',
          message,
          type,
        });
      }

      {% if messages %}
          {% for message in messages %}
              toast('{{ message }}', '{{ message.tags }}');
          {% endfor %}
      {% endif %}
    </script>

</body>
</html>